
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
margin: 0 auto;
padding: 0 auto;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #002339;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
max-width: 900px;
}
.display{
    width: 100%;
    color: #333;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 15px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.container h1{
    color: #fff;
    font-weight: 500;
}
.container h1 span {
    color: #dc3545;
    border-bottom: 5px solid #dc3545;
    padding-bottom: 6px;

}
.display input{
    width: 85%;
    padding: 15px 15px ;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.5rem;
}
.display img{
    width: 50px;
    cursor: pointer;
    margin-left: 100px ;
   
    
}
